html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

section {
  color: black;
  background-color: white;
  padding: 2rem;
  margin: 0;
  font-family: Montserrat, Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

body {
  background-color: coral;
  margin: 10%;
}


.grid-container {
  display: grid;
  grid-gap: 50px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 5px solid rgba(255, 255, 255, 0.125);
  border-radius: 0.25rem;
}

.grid-item1 {
  padding: 2rem;
  background-color: red;
}

.grid-item2 {
  grid-column: 2 / span 3;
  background-color: blue;
}